@model About
<div class="about-area pb-155">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="about-content">
                    <h2>@Html.Raw(Model.Title)</h2>
                    @Html.Raw(Model.Decsription)
                    <a class="default-btn" asp-controller="Courses" asp-action="Index">view courses</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="about-img">
                    <img src="~/img/about/@Model.Image" alt="about">
                </div>
            </div>
        </div>
    </div>
</div>