@model List<Blog>
@foreach (Blog blogs in Model)
{
    <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-blog mb-60">
                    <div class="blog-img">
                        <a asp-controller="Blogs" asp-action="Index"><img src="~/img/blog/@blogs.Image" alt="blog"></a>
                        <div class="blog-hover">
                            <i class="fa fa-link"></i>
                        </div>
                    </div>
                    <div class="blog-content">
                        <div class="blog-top">
                            <p>By @blogs.By  /  @blogs.CreatedTime.ToString("MMMM dd, yyyy")  /  <i class="fa fa-comments-o"></i> 4</p>
                        </div>
                        <div class="blog-bottom">
                            <h2><a asp-controller="Blogs" asp-action="Index">@blogs.Title </a></h2>
                            <a asp-controller="Blogs" asp-action="Index">read more</a>
                        </div>
                    </div>
                </div>
            </div>
}