@model List<Course>
@foreach (Course courses in Model)
    {
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="single-course mb-70">
                <div class="course-img">
                    <a asp-controller="Courses" asp-action="Index">
                        <img src="~/img/course/@courses.Image" alt="course">
                        <div class="course-hover">
                            <i class="fa fa-link"></i>
                        </div>
                    </a>
                </div>
                <div class="course-content">
                    <h3><a asp-controller="Courses" asp-action="Index">@courses.Name</a></h3>
                    <p>@courses.Description</p>
                <a class="default-btn" asp-controller="Courses" asp-action="Index">read more</a>
                </div>
            </div>
        </div>
    }